body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.navbar {
  height: 5rem;
  background: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}

/* Card hover effect */
.card-img-overlay {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* New Listing button */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Edit page button */
.btn-dark.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show page image */
.show-img {
  height: 30vh !important;
  object-fit: cover;
  width: 100%;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}